<div class="container modal-body">
        <div>
            <h2>Please sign up</h2>  
            <input type="email" class="form-control input-email" id="usr" placeholder="Email address" required autofocus>
            <br>
            <input type="password" class="form-control input-password" id="pwd" placeholder="Password" required>
            <br>
            <input type="password" class="form-control input-password" id="pwd" placeholder="Confirm your Password" required>
          </form>
        </div>  
    </div>  

    </div> <!-- /container -->

    <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Sign in</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
   